/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8 Jun, 2020, 4:54:46 PM
    Author     : sony
*/
.root{
    -fx-background-color:#e6f5ff;
}

.table-view .column-header .label{
     -fx-alignment:center;
    -fx-size:30px;
    -fx-padding:10 0 10 0;
    -fx-font-weight: bold;
/*    -fx-font-size:18px;*/
    -fx-font-family:"Times New Roman"; 
}

.table-row-cell:odd:filled{
    -fx-alignment:center-right;
    -fx-background-color: #b2ebf2; 
    -fx-cell-size:50px;
/*    -fx-font-size:20px;*/
    -fx-font-family:"Times New Roman";
    -fx-padding:10 0 10 0;
    
}

.table-row-cell:even:filled{
    -fx-background-color: #a7ffeb ;   
    -fx-cell-size:50px;
    -fx-alignment:center-right;
/*    -fx-font-size:20px;*/
    -fx-font-family:"Times New Roman";
    -fx-padding:10 0 10 0;
}

.table-view{
    -fx-background-color: #a7ffeb;
}
/*e8f5e9*/

.table-row-cell:empty{
    -fx-background-color:#f9fbe7;   
}

.table-row-cell:empty .table-cell{
    -fx-border-width:0px;   
}

.jfx-button{
    -fx-background-color: #e6f5ff;
    -fx-text-fill: black;
}
.jfx-button:hover{
    -fx-background-color:  #a7ffeb;
        
}


/*table-row-cell:odd{
    -fx-background-color:#a7ffeb;
    -fx-background-insets:0, 0 0 1 0;
    -fx-padding:0.0em;
}

table-row-cell:even{
    -fx-background-color:#a7ffeb;
    -fx-background-insets:0, 0 0 1 0;
    -fx-padding:0.0em;
}*/

